.allTeamTable {

    margin: 0 5rem;
}

.searchAllTeam {
    margin: 0 5rem;

}

@media only screen and (max-width:700px) {

    .allTeamTable {
        margin: 0 1rem !important;
    }

    .searchAllTeam {
        margin: 0 1rem;

    }

}