.teamButton {
    /* box-shadow: 10px 10px 17px -8px rgba(21, 121, 235, 1); */
    border-radius: 1rem;
    transition: 200ms;
    /* border: 2px solid gray; */
    /* margin: 2px 2px; */

    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(42, 20, 6, 1) 55%, rgba(4, 39, 45, 1) 100%); */

}

.teaminnerbutton {}

.teamButton:hover {
    box-shadow: 10px 10px 17px -8px rgba(149, 21, 235, 1);
    box-shadow: 0 0 11px rgba(149, 21, 235, 1);
    /* transition: 7ms; */

}