@tailwind base;
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Source+Code+Pro:wght@600&display=swap');

* {
    scrollbar-width: 0.5rem;
    scrollbar-color: rgb(30, 41, 59);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5rem;
}

/* *::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
} */

*::-webkit-scrollbar-thumb {
    background-color: rgb(30, 41, 59) !important;
    border-radius: 0.4rem;
    /* border: 0.5px solid rgb(71 85 105 / 0.6); */
}

@tailwind components;
@tailwind utilities;